html, body {
  height: 100%;
}

body {
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
    <!-- 0, 20, 20--> background: #fff;
    color: #272727;
    font: 94% Arial, Helvetica, sans-serif;
    overflow: hidden;
}

h1 {
    color: #ee7f00;
    font-size: 150%;
    font-weight: normal;
}
h1 strong {
    font-size: 200%;
    font-weight: normal;
}
h2 {
    color: #ee7f00;
    font-size: 200%;
}
h1, h2 {
    margin: 0;
    padding: 0;
}
th {
    background: #2c3e50;
    color: #fff;
}
table.mon_list th, td {
    padding: 8px 4px;
}
.mon_title {
    font-weight: bold;
    font-size: 200%;
    clear: both;
    margin: 0;
    float: left;
}
.inline_header {
    font-weight: bold;
}
table.info {
    color: #000000;
    font-size: 100%;
    width: 100%;
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
    <!--padding: 8px 4px;
    -->
}
table.mon_list {
    color: #000000;
    width: 100%;
    font-size: 100%;
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
}
table.mon_head {
    color: #000000;
    width: 100%;
    font-size: 100%;
}
td.list, tr.list {
    border: 3px;
    border-style: solid;
    border-color: #fff;
    margin: 0px;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
    font-weight: 70;
}
td.info, tr.info {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 0px;
    border-collapse: collapse;
    padding: 3px;
    text-align: left;
    font-weight: 700;
}

.update-time{
    position: absolute;
    right: 0.1em;
    top: 0.4em;
    font-size: 0.75em;
}

tr.odd {
    background: #D9ECF8;
}
tr.even {
    background: #F2F6FA;
}
tr.list.other-teacher td:first-child {
  background: #A2C9FA;
}
tr.list.same-teacher td:first-child {
  background: #5A9CF4;
}

/* Farben */
.entfall {
    color: #c0392b;
}

.raum {
    color: #27ae60;
}

.normal {
    color: #010101;
}

.aufsicht {
    color: #AC58FA;
}
