body {
	margin-top: 0px;
	margin-left: 1px;
	margin-right: 1px;
	background: #fff;
	color: #272727;
	font: 200% Arial, Helvetica, sans-serif;
}

body, html {
	height: 50%;
}

p {
	padding-top: 50%;
}
